!!!
html(ng-app="twitter")
  head
    meta(charset='utf8')
    base(href='/')
    title Twitter Sentiment Analysis
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body