/* app css stylesheet */

body {
  background-image: url('../img/old_moon.png');
  padding-top:70px;
}

.chart-size {
  width:600px;
  height:400px;
}

.navbar_bg {
  background-image: url('../img/stardust.png');
}

.tweet-panel {
  font-family: "Lato";
 	font-size: 20px;
  color: #555;
}

.created-at {
	font-size: 13px;
	color: gray;
}

.user {
	padding:0px 10px;
}

.padding {
	padding: 10px 10px 10px 10px;
}

/* CSS3 transformations */

.animate-repeat {
  line-height:40px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:100px;
}